<footer class="site-footer">
  <div class="container text-muted">
    <p class="d-flex flex-column flex-md-row justify-content-between align-items-center ">
      <span class="mb-2">&copy; 2020 <a href="https://github.com/zce/pages-boilerplate#readme">pages-boilerplate</a>. All Rights Reserved.</span>
      <span class="mb-2">&lt;/&gt; with <i class="heart">&hearts;</i> by <a href="https://zce.me">zce</a></span>
    </p>
    <p class="text-center"><a id="scroll_top" href="#">Back to top &uparrow;</a></p>
  </div>
</footer>
